/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}
.mr-auto{
  margin-right: auto;
}

.ml-auto{
  margin-left: auto;
}

.message-img{
  width: 20rem;
  height: 15rem;
}

.group-search{
      width:80%;
      height: 25px;
      margin:20px 5px 50px 0;
      border: none; /* <-- This thing here */
      border-radius: 10px;      
}

.select-message{
  background-color: white !important;
}

.messages-display{

  margin-top: 20px;
}

.add-comment, .remove-message{

  margin-top: 20px;
  margin-bottom:10px;
}

.comments{
  background-color:lightseagreen;
  height:30px;
  font-size: 8px;
}

.comments-border{
  border:1px solid turquoise
}
